.image-to-show {
    width: 400px;
    height: 400px;
    display: none;
    border-radius: 10px;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px auto;
    width: fit-content;
}

#start-btn, #stop-btn{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000000;
    background: #ffffff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
    cursor: pointer;
    outline: none;
    margin-left: 30px;
}

#stop-btn:hover {
    background-color: rgb(145, 112, 255);
    box-shadow: 0px 15px 20px rgba(132, 38, 126, 0.4);
    color: #ffffff;
    transform: translateY(-7px);
}

#start-btn:hover{
    background-color: rgb(145, 112, 255);;
    box-shadow: 0px 15px 20px rgba(132, 38, 126, 0.4);
    color: #ffffff;
    transform: translateY(-7px);
} 

#stop-btn:active {
    transform: translateY(-1px);
}

#start-btn:active {
    transform: translateY(-1px);
}

.show {
    display: block;
}

#time {
    margin: 0 auto;
    width: fit-content;
  }

.controls {
    width: fit-content;
    margin: 50px auto;
}